body {
    position: relative;
}

h1 {
    border-bottom: 1px solid black;
    padding-top: 12.561pt;
    padding-left: 12.561pt;
    border-bottom: 1pt solid black;
    padding-bottom: 12.561pt;
    margin-left: 0;
}

.container-fluid {
    padding: 0;
}

.hljs {
    background: #fafafa;
    padding-left: 12.561pt;
}

.hljs-comment {
    color: #02a98f;
}

.hljs-attr {
    color: #02a98f
}

.hljs-attribute {
    color: #02a98f
}

.hljs, .hljs-tag, .hljs-subst {
    color: black;
}

.hljs-number, .hljs-string, .hljs-type, .hljs-built_in, .hljs-builtin-name, .hljs-selector-id, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition, .hljs-variable, .hljs-template-variable {
    color: #a90202;
}

p {
    padding: 12.561pt;
}

h1, h2, h3, h4 {
    color: #00a990;
    padding-top: 12.561pt;
    padding-left: 12.561pt;
    border-bottom: 1pt solid black;
    padding-bottom: 12.561pt;
    margin-left: 0;
    margin-bottom: 0 !important;
}

h2:after {
    content: ' ';
}

h5 {
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    display: none;
    position: absolute;
    margin-left: 8px;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
    color: #bbbbbb;
    display: initial;
}

.nav.nav-tabs > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.tab-content {
    padding-top: 8px;
}

.table {
    margin-bottom: 8px;
}

.request {
    margin-top: 12px;
    margin-bottom: 24px;
}

.response-text-sample {
    padding: 0px !important;
}

.response-text-sample pre {
    margin-bottom: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    color: black;
    padding-top: 20px;
    border-right: 1px solid black;
}

#sidebar-wrapper ul {
    width: 250px;
    border-right: black;
}

#sidebar-wrapper ul li {
    margin-right: 10px;
}

#sidebar-wrapper ul li a:hover {
    background: inherit;
    text-decoration: none;
}

#sidebar-wrapper ul li a {
    display: block;
    color: #000000;
    padding: 6px 15px;
}

#sidebar-wrapper ul li ul {
    padding-left: 25px;
}

#sidebar-wrapper ul li ul li a {
    padding: 1px 0px;
}

#sidebar-wrapper ul li a:hover,
#sidebar-wrapper ul li a:focus {
    color: #e0c46c;
}

#sidebar-wrapper ul li.active > a {
    color: #e0c46c;
    border-right: solid 3px #e0c46c;
}

#sidebar-wrapper ul li:not(.active) ul {
    display: none;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px 15px 15px 250px;
}

strong {
    font-weight: bold;
}

body {
    background: white !important;
    margin-bottom: 9.77mm;
}

table {
    width: calc(100% + 12pt) !important;
    page-break-inside: auto;
}

table [rowspan] + th {
    border-left: 1px solid;
}

table thead {
    display: table-row-group;
}

table th, td {
    border-color: black !important;
}

table th:first-child, td:first-child {
    padding-left: 12.561pt;
}

table td.print-no-indent, th.print-no-indent {
    padding-left: 0;
}

table th:last-child, td:last-child {
    padding-right: 36pt;
}

table tr {
    border-left: 1pt solid black;
    page-break-inside: avoid;
    page-break-after: auto;
}

table thead tr:first-child {
    border-top: 1pt solid black;
}

table.vertically {
    max-width: 80%;
}

table.vertically td, th, tr {
    border: none;
    padding: 0.1cm;
}

table.vertically td:last-child {
    text-align: right;
}

table.vertically td:first-child, th:first-child {
    text-align: left;
}

table.vertically td:first-child, th:first-child {
    padding-left: 0;
}

.nav {
    padding-left: 12.561pt;
}

.nav.nav-pills .nav-link.active {
    border-radius: 0;
    background: #02a98f;
}

.tab-content {
    padding-left: 12.561pt;
}
